/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor de Autenticación */
.auth-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.auth-logo img {
    width: 220px;
    margin-bottom: 10px;
}

.auth-logo h1 {
    font-size: 1.5rem;
    color: #ff6000;
}

/* Encabezados */
.auth-container h2 {
    color: #333;
    font-size: 1.8rem;
    margin: 20px 0;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

form label {
    text-align: left;
    color: #555;
    font-weight: bold;
}

form input, form select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: #ff6000;
    outline: none;
}

/* Botón */
button {
    padding: 12px;
    font-size: 1rem;
    background-color: #ff6000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e55900;
}

/* Enlaces de navegación entre páginas */
.auth-container p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777;
}

.auth-container p a {
    color: #ff6000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.auth-container p a:hover {
    color: #333;
}


html {
    scroll-behavior: smooth;
}
